.modal-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	background-color: rgba(0,0,0,0.4);
	box-sizing: content-box;

}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	max-width: 560px;
	width: 100%;
	padding: 40px;
	box-sizing: border-box;
	background-color: #fff;
	border-radius: 4px;
	box-sizing: border-box;

	.modal-close {
		position: absolute;
		right: 16px;
		top: 16px;
		display: inline-flex; vertical-align: middle; text-align: center; box-sizing: border-box;
		align-items: center; justify-content: center;
		text-decoration: none !important;
		outline: none;
		-webkit-appearance: none;
		border: none;
		cursor: pointer;
		user-select: none;
		background-color: transparent;
	}

	.modal-header {
		margin-bottom: 24px;
		font-size: 36px;
		text-align: center;
	}

	h4 {
		margin: 0;
	}

	.modal-content {
		font-size: 24px;
		font-style: oblique;
		text-align: center;
	}

	.modal-footer {
		margin-top: 30px;
	}

	.button-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.btn{
	background:  #212529;
	color: #f2f2f2;
	padding: 10px;
	font-size: 18px;
	border-radius: 5px;
	border: none;
	position: relative;
	box-sizing: border-box;
	transition: all 500ms ease;
	text-decoration: none;
	cursor: pointer;
	&:hover {
		border: 3px solid #3a7999;
		color: #3a7999;
		background: rgba(0,0,0,0);
	}

}
.input {

	.input-box {
		height: 41px;
		width: 100%;
		border-radius: 4px;
		border: 1px solid #c7cccf;
		padding: 0 16px;
		box-sizing: border-box;
		line-height: normal;
		font-size: 24px;
	}
}